<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Marigold</title>
    {{#each _target.resources.assets}}
      {{#if isCSS}}
        <link rel="stylesheet" href="{{ path '/components/raw/{{ _target.baseHandle }}/{{ this.base }}' }}">
      {{/if}}
    {{/each}}
</head>
<body>

{{{ yield }}}

{{#each _target.resources.assets}}
  {{#if isJS}}
    <script src="{{ path '/components/raw/{{ _target.baseHandle }}/{{ this.base }}' }}"></script>
  {{/if}}
{{/each}}

</body>
</html>